<section class='masthead'>
  
<nav class="language-nav">
 <ul>
  <a class="links_underline" href="">CSS</a>
  <a class="links_underline" href="">HTML</a>
  <a class="links_underline" href="">Javascript</a>
  <a class="links_underline" href="">Ruby</a>
 </ul>
</nav>
<hr>

 <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times">

<nav class="masthead-links">
<li>Tuesday, October 18, 2016</li>
<li class="links_underline"><i class="far fa-newspaper"></i>Today’s Paper</li>
<li class="links_underline"><i class="fas fa-video"></i> Video</li>
<li><i class="fas fa-cloud"></i> 77°F</li>

<li>AAO   <div style="color:red"> -200% </div> </li>
</ul>
</nav>
</section>