.links ul{
  display: flex;
  flex-wrap: wrap;
	font-family: $sans-serif;
  font-size: 15px;
  justify-content: center;
}

.links ul li {
  list-style: none;
}
.links a {
  margin: 10px;
}

.links2 a:hover {
  background-color:$light-gray;
}

.links a:last-child:hover {
  background-color: white;
  text-decoration: underline;
}